@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .prose code {
        @apply text-base;
    }

    /* prose styles here */
    .prose h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-zinc-800 dark:text-zinc-100   !important;
        font-family: IBM Plex Sans, sans-serif;
        font-weight: bold;
    }

    body {
        font-family: IBM Plex Sans, sans-serif;
        transition: background-color 0.5s ease;
        @apply max-w-full;
        font-size: large;
    }

    .title,
    header {
        font-family: IBM Plex Sans, sans-serif;
        font-weight: bold;
    }
}

.glass {
    background: rgba(57, 56, 56, 0.52);
    backdrop-filter: blur(13px) saturate(150%);
    -webkit-backdrop-filter: blur(13px) saturate(150%);
    z-index: -1;
}

.shadow {
    box-shadow: -5px 3px 8px 1px rgba(0, 0, 0, 0.12);
}
