@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DM Serif Display';
    src: url('/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans Bold';
    src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@layer base {
    .prose code {
        @apply text-base;
    }

    /* prose styles here */
    .prose h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-zinc-800 dark:text-zinc-100   !important;
        font-family: "DM Serif Display", "IBM Plex Sans", sans-serif;
        font-weight: bold;
    }

    .title,
    header {
        font-family: "DM Serif Display", "IBM Plex Sans", sans-serif;
        font-weight: bold;
    }

    a {
        font-family: "IBM Plex Sans Bold", sans-serif;
    }

    body {
        font-family: "IBM Plex Sans", sans-serif;
        transition: background-color 0.5s ease;
        @apply max-w-full;
        font-size: large;
    }

    strong {
        font-family: "IBM Plex Sans Bold", sans-serif;
    }
}


.glass {
    background: rgba(57, 56, 56, 0.52);
    backdrop-filter: blur(13px) saturate(150%);
    -webkit-backdrop-filter: blur(13px) saturate(150%);
    z-index: -1;
}

#backToTopButton {
    display: none; /* Hidden by default */
    position: fixed;
    border: none;
    outline: none;
    background-color: wheat;
    cursor: pointer;
    padding: 20px;
    border-radius: 30px;
}

.shadow {
    box-shadow: -5px 3px 8px 1px rgba(0, 0, 0, 0.12);
}
